@inherits LayoutComponentBase

<PageTitle>Resource Group Access Control</PageTitle>

<div class="page">

    <main>
        <div class="top-row px-4 auth bg-dark text-light pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col text-start ms-3">
                        <b>Resource Access Control</b>
                    </div>
                    <div class="col text-end me-3">
                        <AuthorizeView>
                            <Authorized>
                                <span class="oi oi-person me-2"></span> @context.User.Identity.Name
                                <a href="MicrosoftIdentity/Account/SignOut" class="ms-3"><span class="oi oi-account-logout"></span></a>
                            </Authorized>
                            <NotAuthorized>
                                <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
                            </NotAuthorized>
                        </AuthorizeView>
                    </div>
                </div>
            </div>
        </div>

        <article class="content px-4 container">
            @Body
        </article>
    </main>
</div>
